<div class="container-fluid bg-fluid">
  <div class="row">
    <div class="col-md-1 mt-4 ">
    </div>
    <div class="col-md-11 mt-4 ">
      <div class="row">
        <div class="col-md-4 mt-2 ">
          <div class="growth-content mt-4 bg-white content-size text-center ">
            <i class="fas fa-arrows-alt-h text-primary header-icons"></i>
            <p>65%<br>Lorem Ipsum</p>
          </div>
        </div>
        <div class="col-md-4 mt-2 ">
          <div class="users bg-white mt-4 content-size text-center">
            <i class="fas fa-user text-primary header-icons"></i>
            <p>15<br>Lorem Ipsum</p>
          </div>
        </div>
        <div class="col-md-4 mt-2 ">
          <div class="profit mt-4 bg-white content-size text-center">
            <i class="fas fa-money-bill-alt text-primary text-center text-primary header-icons"></i>
            <p>15.152<br>Lorem Ipsum</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mb-4 mt-4">
          <div class="row">
            <div class="col-md-4">
              <div class="message mt-4 bg-white content-size text-center">
                <i class="fas fa-envelope text-primary client-icons"></i>
                <p>Lorem Ipsum</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="message mt-4 bg-white content-size text-center text-primary">
                <i class="fas fa-users client-icons"></i>
                <p>Lorem Ipsum</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="message mt-4 bg-white content-size text-center">
                <i class="fas fa-arrows-alt-h text-primary client-icons"></i>
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-4 mt-4">
              <div class="message mt-4 bg-white content-size text-center">
                <i class="fas fa-torah text-primary client-icons"></i>
                <p>Lorem Ipsum</p>
              </div>
            </div>
            <div class="col-md-4 mb-4 mt-4">
              <div class="message mt-4 bg-white content-size text-center">
                <i class="fas fa-rss-square text-primary client-icons"></i>
                <p>Lorem Ipsum</p>
              </div>
            </div>
            <div class="col-md-4 mb-4 mt-4">
              <div class="message mt-4 bg-white content-size text-center mb-4 mt-4">
                <i class="fas fa-eraser text-primary client-icons"></i>
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-4 d-block">
          <div class="message mt-4 bg-white content-size">
            <div class="d-flex border-bottom">
              <p>Software Developer</p>
              <p class="ml-auto border-bottom">78%</p>
            </div>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="border-bottom"></p>

          </div>

          <div class="message bg-white content-size border-top">
            <div class="d-flex border-bottom">
              <p>Intern</p>
              <p class="ml-auto border-bottom">78%</p>
            </div>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="border-bottom"></p>

          </div>

          <div class="message  bg-white content-size border-top">
            <div class="d-flex border-bottom">
              <p>Menager</p>
              <p class="ml-auto border-bottom">78%</p>
            </div>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="border-bottom"></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
