<div class="sidenav">
  <div class="sidebar-div text-center">
    <a routerLink="/dashboard" routerLinkActive="active"><i
      class="fas fa-chart-bar text-primary sidebar-icon"></i></a>
    <p>Dashboard</p>
  </div>
  <div class="sidebar-div text-center">
    <a routerLink="/employee-list" routerLinkActive="active"><i
      class="fas fa-users text-primary sidebar-icon mt-3"></i></a>
    <p>Employees List</p>
  </div>
  <div class="sidebar-div text-center">
    <a routerLink="/employee-list" routerLinkActive="active"><i
      class="fas fa-bed text-primary sidebar-icon mt-3"></i></a>
    <p>Lorem Ipsum</p>
  </div>
  <div class="sidebar-div text-center">
    <a routerLink="/employee-list" routerLinkActive="active"><i
      class="fas fa-person-booth text-primary sidebar-icon mt-3"></i></a>
    <p>Lorem Ipsum</p>
  </div>
  <div class="sidebar-div text-center">
    <a routerLink="/employee-list" routerLinkActive="active"><i
      class="fas fa-text-height text-primary sidebar-icon mt-3"></i></a>
    <p>Lorem Ipsum</p>
  </div>
  <div class="sidebar-div text-center">
    <a routerLink="/employee-list" routerLinkActive="active"><i
      class="fas fa-history text-primary sidebar-icon mt-3"></i></a>
    <p>Lorem Ipsum</p>
  </div>
  
</div>
